<template>
	<div class="container-fluid">
		<div class="row">
			<compose containerless view-model="components/helper/page-title/page-title" model.bind="{ settings: settings.pageTitle }" ></compose>
		</div>
	</div>
    <!-- Table Component -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <h3>Users</h3>
                <div>
                    <a route-href="route: users-edit; params.bind: {action:'add'}" class="btn btn-primary">Add User</a>
                </div>
				<compose containerless view="components/helper/table/table.html" view-model="components/listing/users"
                    model.bind="{ settings: settings.users }" ></compose>
			</div>
		</div>
	</div>
    <!-- Form Component -->
    <!-- <compose containerless view-model="models/user/user" model.bind="{  }"></compose> -->
</template>
