
@import "../../variables.less";

.left-nav {
    &__profile {
		display: flex;
		padding: @padding;
        &-pic img {
            height: 64px;
        }
        &-info {
            color: @color-bright;
            padding: 10px 0 10px 20px;
        }
        &-info h2 {
            font-size: 20px;
            padding: 0;
            margin: 0;
        }
    }
}
