@import "../../variables.less";

.nav-profile {
    &__image {
        border-radius: 50%;
        display: inline-block;
        margin: 7px 0;
        overflow: hidden;
        width: 36px;
        img {
            width: 100%;
        }
    }
}

nav-left {
    .nav-profile {
        background: url(/images/bg-50p.jpg) no-repeat center center;
        display: none;
        padding: @padding-base-horizontal * 2 @padding-base-horizontal;
        &__image {
            border: 3px solid @color-900;
            width: 48px;
        }
        &__item {
            a {
                color: @color-900;
                padding: 0;
            }
        }
        &__name {
            display: block;
            font-weight: bold;
        }
    }
    &.is-open .nav-profile {
        display: block;
    }
}


nav-top .nav-profile {
    &__details {
        display: none;
    }
    &__item {
        display: flex;
        a {
            padding-left: @padding-small-horizontal / 2;
        }
    }
}
