<template>
    <select value.bind="mode">
        <option repeat.for="item of settings.modes" model.bind="item">${item.label}</option>
    </select>
    <!-- <form class.bind="mode.style">
        <div repeat.for="input of settings.inputs" class.bind="input.style" class="form-group"> -->
            <!-- Display label for nont .form--material -->
            <!-- <label if.bind="mode.style.indexOf('form--material') < 0"
                class.bind="(mode.style.indexOf('form-horizontal') > -1) ? 'col-md-3' : ''"
                for="input-${$index}">${input.label}</label>

            <div class.bind="(mode.style.indexOf('form-horizontal') > -1) ? 'col-md-9' : ''">

                <input if.bind="['text', 'password', 'file'].includes(input.type)" value.bind="input.value"
                    placeholder="${input.label}" class.bind="((mode.style.indexOf('form--material') > -1 && input.value) ? ' is-not-empty' : '')"
                    type="${input.type}" class="form-control" id="input-${$index}">

                <textarea if.bind="input.type === 'textarea'" id="input-${$index}" value.bind="input.value"
                    placeholder="${input.label}"
                    class.bind="((mode.style.indexOf('form--material') > -1 && input.value) ? ' is-not-empty' : '')"
                    cols="30" rows="10"  class="form-control"></textarea>

                <select if.bind="input.type === 'select'" id="input-${$index}" value.bind="input.value"
                        class="form-control">
                    <option repeat.for="item of input.values"
                        selected.bind="item.indexOf('Seccond') > -1"
                        disabled.bind="item.indexOf('Disabled') > -1">${item}</option>
                </select>

                <div if.bind="['checkboxes', 'radios'].includes(input.type)" class="${input.realType}">
                    <label repeat.for="item of input.values" for="input-${input.type}-${$index}">
                        <input type="${input.realType}" id="input-${input.type}-${$index}"
                            name.bind="(input.type === 'radios') ? 'input-radios' : ''"
                            value.bind="item" checked.bind="input.value"
                            disabled.bind="item.indexOf('Disabled') > -1">
                        <span></span> ${item}
                    </label>
                </div>

                <div if.bind="['checkboxes-inline', 'radios-inline'].includes(input.type)" class="${input.realType}">
                    <label repeat.for="item of input.values" for="input-${input.type}-${$index}">
                        <input type="${input.realType}" id="input-${input.type}-${$index}"
                            name.bind="(input.type === 'radios-inline') ? 'input-radios' : ''"
                            value.bind="item" checked.bind="input.value"
                            disabled.bind="item.indexOf('Disabled') > -1">
                        <span></span> ${item}
                    </label>
                </div> -->

                <!-- Display label for .form--material -->
                <!-- <label if.bind="mode.style.indexOf('form--material') > -1" for="input-${$index}">${input.label}</label>

                <span if.bind="input.style === 'is-error'" class="help-block is-error" repeat.for="x of ['First', 'Second']">
                    ${x} message error.
                </span>
                <span if.bind="input.helpblock" class="help-block">
                    ${input.helpblock}
                </span>
            </div>
        </div>
        <button type="submit" click.trigger="submitSimpleForm()" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-default">Reset</button>
    </form> -->
</template>
