<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
    <div class="splash">
      <div class="message"><%- htmlWebpackPlugin.options.metadata.title %></div>
      <!-- Spinner candidates:
        1. https://codepen.io/JTParrett/pen/pDJAf?page=13
        2. https://codepen.io/mroseboom/pen/EBbFf?page=18
        3. https://codepen.io/2ne/pen/KbohA?page=4
        4. https://codepen.io/argyleink/pen/goyiI?page=7
        5. https://codepen.io/grssam/pen/dmKgE?page=8
        6. https://codepen.io/grssam/pen/pgcJF?page=8
        7. https://codepen.io/simurai/pen/crieh?page=14 !!!
        8. https://codepen.io/tystrong/pen/eDmEa?page=24 !!!
        9. https://codepen.io/Tushkiz/pen/qEeCw?page=26 !!!
       -->
        <style type="text/css">
            div.slide {
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                margin: auto;
                height: 90%;
                font-size: 20px;
                font-family: arial;
                width: 90%;
                margin: auto auto;
                border-radius: 50%;
                border-right: 3px solid rgba(0,0,0,0.8);
                animation: spinning 2s linear infinite;
            }
            .spinner {
                height: 100px;
                margin: 25% 0 0 50%;
                transform: translate(-50%, -50%);
                position: relative;
                width: 100px;
            }
            @keyframes spinning {
                0% {
                    transform: rotate(0deg);
                    border-right: 3px solid rgba(0,0,0,0.6);
                }
                5% {border-right-color: rgba(0,0,0,0.4)}
                10% {border-right-color: rgba(0,0,0,0.6)}
                15% {border-right-color: rgba(0,0,0,0.4)}
                20% {border-right-color: rgba(0,0,0,0.6)}
                25% {border-right-color: rgba(0,0,0,0.4)}
                30% {border-right-color: rgba(0,0,0,0.6)}
                35% {border-right-color: rgba(0,0,0,0.4)}
                40% {border-right-color: rgba(0,0,0,0.6)}
                45% {border-right-color: rgba(0,0,0,0.4)}
                50% {border-right-color: rgba(0,0,0,0.6)}
                55% {border-right-color: rgba(0,0,0,0.4)}
                60% {border-right-color: rgba(0,0,0,0.6)}
                65% {border-right-color: rgba(0,0,0,0.4)}
                70% {border-right-color: rgba(0,0,0,0.6)}
                75% {border-right-color: rgba(0,0,0,0.4)}
                80% {border-right-color: rgba(0,0,0,0.6)}
                85% {border-right-color: rgba(0,0,0,0.4)}
                90% {border-right-color: rgba(0,0,0,0.6)}
                95% {border-right-color: rgba(0,0,0,0.4)}
                100% {
                    transform: rotate(360deg);
                    border-right: 3px solid rgba(0,0,0,0.6);
                }
            }
        </style>
        <div class="spinner">
            <div class="slide">
                <div class="slide">
                    <div class="slide">
                        <div class="slide">
                            <div class="slide">
                                <div class="slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
