<template>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" value.bind="user" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" value.bind="pass" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Keep me logged in.
            </label>
        </div>
        <button type="submit" class="btn btn-default" click.trigger="authStep.login(user, pass)">Login</button>
    </form>
</template>
