<template>
    <div class="container-fluid">
        <div class="row">
            <compose containerless view-model="components/helper/page-title/page-title"
                model.bind="{ settings: settings.pageTitle }" ></compose>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h3>Basic Forms</h3>
            <compose containerless view-model="components/helper/form/form"
                model.bind="{ settings: settings.basic, inputs: inputs.basic }" ></compose>
            <button click.trigger="events.publish('form:default:validate')" class="btn btn-primary" type="submit">Submit</button>
            <button click.trigger="events.publish('form:default:reset')" class="btn btn-default" type="reset">Reset</button>
		</div>
        <div class="row">
            <h3>Grid Sample</h3>
            <!-- <form class="row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control form-control-line" value="col-md-6">
                </div>
                <div class="form-group col-md-6">
                    <input type="email" id="example-email2" name="example-email" class="form-control" placeholder="col-md-6">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control form-control-line" value="col-md-4">
                </div>
                <div class="form-group col-md-4">
                    <input type="email" id="example-email2" name="example-email" class="form-control" placeholder="col-md-4">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" value="col-md-4">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" placeholder="col-md-3">
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control">
                        <option>col-md-3</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="...">
                        </span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <input type="text" placeholder="col-md-3" class="form-control form-control-line">
                </div>
                <div class="form-group col-md-12">
                    <label>Text area</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </form> -->
        </div>
    </div>
</template>
