@import "./variables.less";

body {
    display: flex;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	min-height: 100vh;
}

nav-top {
    .navbar {
        &-default {
            background-color: @color--50;
            border: 0;
			border-radius: 0;
			.navbar-nav {
				& > li {
					a {
						color: @color-dark;
                        &:hover {
                            background-color: @color-200;
                            color: @color-dark;
                        }
					}
                    &.active a {
                        background:@color-200;
                        &:hover {
                            background-color: @color-200;
                        }
                    }
				}
			}
        }
    }
}

main-app {
	display: block;
	padding: 20px;
}

content {
    flex: 1 1 85%;
    max-width: 85%;
}

.color-module {
    width: 200px;
    &__item {
        height: 50px;
    }
}
