@import "./variables.less";

/*1********************************************************************************
 * Colors
 *1*******************************************************************************/

.color--50 { background: @color--50; }
.color-100 { background: @color-100; }
.color-200 { background: @color-200; }
.color-300 { background: @color-300; }
.color-400 { background: @color-400; }
.color-500 { background: @color-500; }
.color-600 { background: @color-600; }
.color-700 { background: @color-700; }
.color-800 { background: @color-800; }
.color-900 { background: @color-900; }

/*1********************************************************************************
 * Level up
 *1*******************************************************************************/

body {
    display: flex;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	min-height: 100vh;
}

nav-left {
    background: @color-900;
    bottom: 0;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, .1);
    color: @color-dark;
    left: 0;
    max-width: 85%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;

    .logo-only {
        height: 50px;
        width: 50px;
    }

    /*flex: 1 1 15%;
    max-width: 15%;
	position: relative;*/
}

nav-top {
    display: none;
    /*.navbar {
        &-default {
            background-color: @color--50;
            border: 0;
			border-radius: 0;
			.navbar-nav {
				& > li {
					a {
						color: @color-dark;
                        &:hover {
                            background-color: @color-200;
                            color: @color-dark;
                        }
					}
                    &.active a {
                        background:@color-200;
                        &:hover {
                            background-color: @color-200;
                        }
                    }
				}
			}
        }
    }*/
}

main-app {
	display: block;
	padding: 20px;
}

content {
    &, &.wide {
        flex: 1 1 100%;
        max-width: 100%;
    }
    @media (min-width: @screen-sm-min) {
        flex: 1 1 85%;
        max-width: 85%;
    }
}

.color-module {
    width: 200px;
    &__item {
        height: 50px;
    }
}
