
/**
 * @link http://www.color-hex.com/color-palettes/popular.php
 * @link http://www.color-hex.com/color-palette/185
 */

@color-primary: #099AB2;
@color-primary-light: #14B2CC;

@color-secondary: #FF0076;
@color-secondary-light: #FF449B;


@color-dark: #3b5998;
@color-semi-dark: #8b9dc3;
@color-neutral: #dfe3ee;
@color-semi-bright: #f7f7f7;
@color-bright: #ffffff;
