@import '../../../variables.less';

.logo {
    line-height: 64px;
	text-align: center;

    &__title {
        i.fa {
            font-size: @font-size-h2;
        }
        color: @color-900;
        /* Medium devices (desktops, 992px and up) */
        @media (min-width: @screen-md-min) {
            color: @color--50;
        }
        .is-open & {
            color: @color--50;
        }
    }

    /*&--lg {
        padding: 64px 0;
    }

	&__title {
		font-size: @font-giant;
        color: @color--50;
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
        .logo--lg & {
    		color: @color-900;
        }
    }

    &__icon {
        .logo--lg & {
            display: block;
            font-size: 64px;
            text-align: center;
            width: 100%;
        }
    }*/
}
