@import '../../../variables.less';

.logo {
    line-height: 50px;
	text-align: center;

    &--lg {
        padding: 64px 0;
    }

	&__title {
		font-size: @font-giant;
        color: @color--50;
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
        .logo--lg & {
    		color: @color-900;
        }
    }

    &__icon {
        .logo--lg & {
            display: block;
            font-size: 64px;
            text-align: center;
            width: 100%;
        }
    }
}
