@import '../../../variables.less';
@import '../../../mixins.less';

.nav-left--a {
    font-size: @font-size-base;
    text-align: left;
}

.nav-left--a-hover {
    background-color: @color-700;
    border-left: 4px solid @color-500;
    color: @color-100;
}

nav-left .menu {
    padding-top: @padding-base-vertical * 4;
    display: none;
    @media (min-width: @screen-md-min) {
        display: block;
    }

    li {
        border-bottom: 1px solid @color-800;
        &:first-child {
            border-top: 1px solid @color-800;
        }
        &:hover {
            overflow: visible;
            position: relative;
            @media (min-width: @screen-md-min) {
                ul {
                    .nav-left--open-background;
                    display: block;
                    left: 100%;
                    position: absolute;
                    top: 0;
                    width: 220px;
                    li a {
                        .nav-left--a;
                    }
                }
            }
        }
        & > a {
            color: @color-200;
            line-height: 36px;
            font-size: @font-size-large;
            text-align: center;
            &:hover {
                .nav-left--a-hover();
            }
            span {
                display: none;
            }
        }
        &.active {
            & > a {
                .nav-left--a-hover();
            }
        }
        ul {
            display: none;
            li:last-child {
                border-bottom: none;
            }
        }
    }
}

nav-left.is-open .menu {
    display: block;
    a {
        .nav-left--a;
        span {
            display: inline-block;
        }
    }
    li {
        &:hover {
            @media (min-width: @screen-md-min) {
                ul {
                    left: 0;
                    position: relative;
                    width: 100%;
                }
            }
        }
        &.active ul {
            display: block;
        }
    }
}
