@import "../../../variables.less";
@import "../../../mixins.less";

.listing {
    .list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            flex: 0 0 20%;
            padding: 10px;
        }
    }
}
