<template>
    <compose containerless view-model="components/helper/page-title/page-title" model.bind="{ settings: settings.pageTitle }" ></compose>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Listing</h3>
            </div>
            <div class="col-md-12">
                <!-- <compose containerless view="components/helper/listing/listing.html" view-model="components/listing/users" model.bind="{ settings: { style: tableStyle } }" ></compose> -->
            </div>
        </div>
    </div>
</template>
