<template>
	<div class="container-fluid">
		<div class="row">
			<compose containerless view-model="components/helper/page-title/page-title" model.bind="{ settings: settings.pageTitle }" ></compose>
		</div>
	</div>
	<div class="container">
		<div class="row">
            <div class="col-md-12">
                <h3>Basic Table</h3>
                <p>For basic styling—light padding and only horizontal dividers—add the base class <code>.table</code>
                    to any <code>&lt;table&gt;</code>. It may seem super redundant, but given the widespread use of
                    tables for other plugins like calendars and date pickers, we've opted to isolate our custom table
                    styles.</p>
                <p>For multiple table styles and functionalities, please visit Bootstrap
                    <a href="https://getbootstrap.com/docs/3.3/css/#tables">Table Section</a>.</p>
                <div class="col-md-12">
                    @TODO
                </div>
            </div>
		</div>
	</div>
</template>
