<template>
	<div class="container-fluid">
		<div class="row">
			<compose containerless view-model="components/helper/page-title/page-title" model.bind="{ settings: settings.pageTitle }" ></compose>
		</div>
	</div>
    <section class="au-animate">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
    				<h3>Dashboard!</h3>

                    <div class="color-module">
                        <div class="color-module__item color--50"></div>
                        <div class="color-module__item color-100"></div>
                        <div class="color-module__item color-200"></div>
                        <div class="color-module__item color-300"></div>
                        <div class="color-module__item color-400"></div>
                        <div class="color-module__item color-500"></div>
                        <div class="color-module__item color-600"></div>
                        <div class="color-module__item color-700"></div>
                        <div class="color-module__item color-800"></div>
                        <div class="color-module__item color-900"></div>
                    </div>
    			</div>
    		</div>
    	</div>
    </section>
</template>
